* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #fff !important;
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
    text-align: center;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #4A5568;
    background-image: url('../images/loon-image-original.jfif');
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.wrapper .btn {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: rgba(201, 55, 67, 0.9);
    z-index: 1;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 0 1px #000,
        0 1px 1px #000,
        -1px 0 1px #000,
        0 -1px 1px #000;
}

.wrapper .btn:hover {
    background-color: rgba(241, 16, 34, 0.5);
    cursor: pointer;
}

.wrapper .btn.next {
    right: 15px;
}

.wrapper .btn.prev {
    left: 15px;
}

.gallery {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
}

.item {
    min-width: 100%;
    min-height: 400px;
    margin-top: 15px;
    padding: 20px;
    background-color: #EDF2F7;
    border: 2px solid #000;
    scroll-snap-align: center;
}

.title {
    text-align: center;
}

.subtitle {
    margin-right: 10px;
    font-weight: bolder;
}

.rating {
    display: flex;
    align-items: center;
}

input {
    margin-right: 5px;
}

.value {
    margin-left: 10px;
    font-weight: bolder;
    color: red;
}

.info {
    margin-top: 5px;
}

.image {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

